* {
    font-family: "CanelaDeck", serif !important;
}

body {
    margin: 0;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}   
.header_content p {
    margin: 0;
}

.header_content {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.lien_nom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    color: #333;
    letter-spacing: 1px;
}

.lien_nom img {
    padding-right: 15px;
}
.lien_nom p {
    margin: 0;
}

a {
    text-decoration: none;   
}


.nav ul  {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav ul a {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    padding: 2.2rem 3rem;
    letter-spacing: 1px;
}

.nav a:hover {
    color: rgb(100, 181, 246);
}
.Bar {
    display: none;
}

.home {
    height: 100vh;
    background-image: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    display: flex;
    align-items: center;
}



.reseaux {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    padding: 0.5rem;
}
.reseaux div {
    padding-top: 10px;
}
.CV {
    color: #111;
    margin: 0;
    font-size: 20px;
    border: groove;
    border-radius: 6rem;
}
.moncv {
    display: flex;
    flex-direction: row;
}
.tCV {
    display: none;
    position: absolute;
    top: 70%;
    left: 120%;
    width: 150px;
    height: 30px;
    background: #fff;
}
.tCV p {
    padding-top: 2px ;
    padding-left: 5px;
    margin: 0;
}
.moncv:hover >.tCV {
    display: block;
}


.git {
    display: flex;
    flex-direction: row;
}
.tgit {
    display: none;
    position: absolute;
    top: 40%;
    left: 120%;
    width: 150px;
    height: 30px;
    background: #fff;
}
.tgit p {
    padding-top: 2px ;
    padding-left: 5px;
    margin: 0;
}
.git:hover >.tgit {
    display: block;
}



.IN {
    display: flex;
    flex-direction: row;
}
.tIN {
    display: none;
    position: absolute;
    top: 10%;
    left: 120%;
    width: 150px;
    height: 30px;
    background: #fff;
}
.tIN p {
    padding-top: 2px ;
    padding-left: 5px;
    margin: 0;
}
.IN:hover >.tIN {
    display: block;
}



.div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.div h1 {
    color: #111;    
    letter-spacing: 3px;
    font-size: 60px ;
    font-weight: 800;
    margin: 0;
}

.div p {
    color: #333;
    font-size: 2rem;
}

.BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px ;
}

.btn {
    width: 250px;
    height: 60px;
    color: #333;
    font-size: 22px;
    background: rgb(100, 181, 246);
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
}

.btn:hover {
    transform: translateY(-7px);
}

#about {
    background: #fff;
}
.container {
    height: 100%;
    padding-top: 7rem;
    margin: auto;
    width: 92%;
}

.container h2 {
    letter-spacing: 3px;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 7rem;
}

.container h2::after {
    content: '';
    position: absolute;
    top: calc(100% + 12.5rem);
    height: 5px;
    width: 3rem;
    background: rgb(100, 181, 246);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.propos {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding-bottom: 8rem;
}

.photos {
    border-radius: 10rem;
    margin-left: 7rem;
}

.texte {
    width: 570px;
}

.texte h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 20px;
    color: rgb(100, 181, 246);
}

.texte h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 100;
}

.texte p {
    margin: 0;
    font-size: 20px;
    color: #666;
    line-height: 1.7;
    margin-bottom: 10px;
}


#skill {
    height: 100%;
    padding-top: 7rem;
    background: #fafafa;
    margin: auto;
    width: 100%;
    padding-bottom: 5rem;
}

#skill h2 {
    letter-spacing: 3px;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 4rem;
}

#skill h2::after {
    content: '';
    position: absolute;
    top:  calc(100% + 61.5rem) ;
    height: 5px;
    width: 3rem;
    background: rgb(100, 181, 246);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.allskill {
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.lang {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.lang div {
    background: rgb(231, 231, 231);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    font-size: 1rem;  
}

#skill h3 {
    font-weight: 700;
    font-size: 1.8rem;
    color: rgb(100, 181, 246);
}

.lang div:hover {
    background: rgb(100, 181, 246);
    color: #111;
 
}

#project {
    height: 100%;
    padding-top: 7rem;
    background-color: #fff;
    padding-bottom: 8rem;

}

#project h2 {
    letter-spacing: 3px;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
}

#project h2::after {
    content: '';
    position: absolute;
    top: calc(100% + 114rem);
    height: 5px;
    width: 3rem;
    background: rgb(100, 181, 246);
    left: 50%;
    transform: translateX(-50%);
}

#project p {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 150px;
}

.card_cont {
    background: none;
    border: none;
    color: #111;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 16px;
}
.card img {
    border-radius: 16px;
}
.card_cont h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    margin-top: 4px;
}

.pages {
    height: 100vh;
}

.pagecontent {
    padding-top: 70px;
    padding-left: 300px;
    width: 1000px;
}

.pagecontent h1 {
    font-size: 2rem;
    
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pagecontent h1 span {
    color: rgb(100, 181, 246);
}
.pagecontent b {
    font-size: 1.3rem;
}
.pagecontent p {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.techno {
    color: rgb(100, 181, 246);
}

.pagecontent img {
    margin-top: 50px;
    margin-bottom: 50px;
    border: groove;
}

.pagecontent a {
    position: fixed;
    top: 2rem;
    right: 1.5rem;
}

#contact {
    background: #fafafa;
    padding-top: 2rem;
}

#contact h2 {
    letter-spacing: 3px;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 3rem;   
}
#contact h2::after {
    content: '';
    position: absolute;
    top: calc(100% + 224rem);
    height: 5px;
    width: 3rem;
    background: rgb(100, 181, 246);
    left: 50%;
    transform: translateX(-50%);    
}

.allcontact {
    padding-left: 12rem;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.ctc {
    width: 650px;
}

.allcontact h3 {
    color: rgb(100, 181, 246);
    font-size: 1.5rem;
}

.allcontact span {
    font-size: 1.2rem;
}

.social {
    padding-left: 5rem;
}

.link {
    display: none;
    position: absolute;
    top: 607%;
    left: 85%;
    padding: 5px;
    border: #111 groove;
    background: #fff;
    box-shadow: rgb(52, 50, 50);
}

.QR:hover >.link {
    display: block;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(42, 59, 71);    
    color: #fff;
    padding-left: 250px;
    padding-right: 350px;
}
.gauche p {
    padding-bottom: 10px;
}
.gauche p a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore  ul li{
    padding-bottom: 10px;
}

footer div ul {
    list-style: none;
    padding: 0;
}

footer div ul li a {
    color: rgb(204, 198, 198);
}

@media screen and (max-width: 1290px) {
    .container h2::after {
        display: none;
    }

    #skill h2::after {
        display: none;
    }

    #project h2::after {
        display: none;
    }

    #contact h2::after {
        display: none;
    }

    .propos {
        display: flex;
        justify-content: center;
    }

    .photos {
        margin-left: 1rem;
    }

    .pagecontent {
        width: fit-content;
        padding-left: 100px;
    }

    .pagecontent img {
        width: 60%;
        height: 40%;
    }

}

@media screen and (max-width: 950px) {
    body {
        width: min-content;
    }
    .nav {
        display: none;
    }
    .nav.mobile_menu ul {
        display: flex;
        flex-direction: column;
        padding-top: 90px   ;
        padding-left: 0px;
        text-align: center;
        gap: 100px;
        transition: all 0.5s;
    }
    .nav.mobile_menu {
        display: flex;
        position: fixed;
        background: rgba(79, 77, 77, 0.2);
        backdrop-filter: blur(5px);
        top: 4.5rem;
        left: 70%;
        width: 50%;
        height: 100%;
    }


    .Bar {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    body {
        width:min-content;
    }

    .div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%,-50%);
        width: min-content;
        padding-top: 20px;
        margin: 0;
    }

    .nav.mobile_menu {
        height: fit-content;
        padding-bottom: 15%;
    }

    .nav.mobile_menu ul li a {
        color: #111;
        font-size: 1.2em;
    }

    .allskill {
        padding-left: 50px ;
    }
    .social {
        padding: 0;
    }

    .span {
        width: 400px;
    }
}